
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- header -->
    <header>
      <nav class = "navbar">
        <div class = "container">
          <a routerLink="/" class = "navbar-brand">Writing Desk</a>
          <div class = "navbar-nav">
            <a routerLink="/">home</a>
            <a routerLink="/aboutus">about</a>
            
            <a routerLink="/login" class="login-button" style="background: linear-gradient(140.14deg, #29211d 15.05%, #2b201f 114.99%)
      padding-box,
    linear-gradient(142.51deg, #ebd8e6 8.65%, #dbc0d7 88.82%) border-box;
  border-radius: 7px;
  border: 2px solid transparent;

  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;

  padding: 10px 40px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 500;">Login</a>
          </div>
        </div>
      </nav>
      <div class = "banner">
        <div class = "container">
          <h1 class = "banner-title">
            <span>Writing Desk</span> Design Blog
          </h1>
          <p>everything that you want to know about art & design</p>
          
        </div>
      </div>
    </header>
    <!-- end of header -->
    
    <!-- design -->
    <section class = "design" id = "design">
      <div class = "container">
        <div class = "title">
          <h2>Recent Arts & Designs</h2>
          <p>recent arts & designs on the blog</p>
        </div>

        <div class = "design-content">
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/art-design-1.jpg" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Art & Design</span>
            </div>
            <div class = "design-title">
              
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/art-design-2.jpg" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Art & Design</span>
            </div>
            <div class = "design-title">
              
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/art-design-3.jpg" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Art & Design</span>
            </div>
            <div class = "design-title">
              
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/art-design-4.jpg" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Art & Design</span>
            </div>
            <div class = "design-title">
              
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/art-design-5.jpg" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Art & Design</span>
            </div>
            <div class = "design-title">
              
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/art-design-6.jpg" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Art & Design</span>
            </div>
            <div class = "design-title">
             
            </div>
          </div>
          <!-- end of item -->
        </div>
      </div>
    </section>
    <!-- end of design -->


    <!-- blog -->
    <section class = "blog" id = "blog">
      <div class = "container">
        <div class = "title">
          <h2>Latest Blog</h2>
          <p>recent blogs about art & design</p>
        </div>
        <div class = "blog-content">
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "assets/blog-p-1.jpg" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "assets/blog-p-2.jpg" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "assets/blog-p-3.jpg" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "assets/blog-p-4.jpg" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "assets/blog-p-5.jpg" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "assets/blog-p-6.jpg" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            
          </div>
          <!-- end of item -->
        </div>
      </div>
    </section>
    <!-- end of blog -->

    <!-- about -->
    <section class = "about" id = "about">
      <div class = "container">
        <div class = "about-content">
          <div>
            <img src = "assets/about-bg.jpg" alt = "">
          </div>
          <div class = "about-text">
            <div class = "title">
              <h2>Catherine Doe</h2>
              <p>art & design is my passion</p>
            </div>
            <p>
              Art and design embody the essence of my being, igniting a fervent passion that permeates every facet of my existence. From the intricate strokes of a paintbrush to the meticulous arrangement of pixels on a digital canvas, creativity flows through me like a boundless river, shaping my perception of the world and infusing my life with purpose and meaning.</p>
              <p>
                In the realm of art, I find solace and liberation, a sanctuary where I can freely express my innermost thoughts, emotions, and experiences. Each brushstroke becomes a brushstroke of my soul, imbued with the raw energy of my imagination and the depth of my being. Whether it's the vibrant hues of a sunset painting or the haunting melody of a melancholic composition, art allows me to capture fleeting moments of beauty and transcend the confines of reality.
              </p>
          </div>
        </div>
      </div>
    </section>
    <!-- end of about -->

    <!-- footer -->
    <footer>
      <div class = "social-links">
        <a href = "#"><i class = "fab fa-facebook-f"></i></a>
        <a href = "#"><i class = "fab fa-twitter"></i></a>
        <a href = "#"><i class = "fab fa-instagram"></i></a>
        <a href = "#"><i class = "fab fa-pinterest"></i></a>
      </div>
      <span>Art.Design Blog Page</span>
    </footer>
    <!-- end of footer -->
    
    
 