
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<!-- header -->
<header>
  <nav class = "navbar">
    <div class = "container">
      <a href = "index.html" class = "navbar-brand">Writing Desk</a>
      <div class = "navbar-nav">
        <a href = "">home</a>
        <a href = "">about</a>
        <a href = "">Blog</a>
        <a href = ""><i class="fas fa-user" style="font-size: 24px;"></i></a>
      </div>
    </div>
  </nav>
  
</header>
<!-- end of header -->



<!-- Dashboard Component HTML -->


<div class="blog-card">
  <div class="card-header">
    <h2 class="username">Username</h2>
  </div>
  <div class="card-body">
    <h3 class="blog-title">Blog Title</h3>
    <p class="blog-description">Blog description goes here. This is a sample text that can be longer than 30-40 words. The card will automatically adjust its height to fit the content without changing the overall style or shape.</p>
    <button class="contact-btn">CONTACT</button>
  </div>
</div>







  








  