<form class="form" style="-webkit-box-shadow:0px 0px 19px 0px rgba(46,255,227,0.9);
-moz-box-shadow: 0px 0px 19px 0px rgba(46,255,227,0.9);
box-shadow: 0px 0px 19px 0px rgba(46,255,227,0.9);" (ngSubmit)="login()" >
    <p class="title">Login </p>
    
          
            
    <label>
        <input class="input" name="username" type="text" placeholder="" required="" [(ngModel)]="loginData.username" >
        <span>Username</span>
    </label> 
        
    <label>
        <input class="input" name="password" type="password" placeholder="" required="" [(ngModel)]="loginData.password" >
        <span>Password</span>
    </label>
    
    <button class="submit"  type="submit" >Submit</button>
    <p class="signin">Already have an acount ? <a routerLink="/signup">Signup</a> </p>
</form>