


<section class="about" style="background-image: linear-gradient(to right top, #1fe3db, #3fd8d6, #54ced0, #63c3c8, #70b8bf, #74b5c1, #78b3c2, #7db0c2, #81b4cf, #89b8db, #95bae7, #a5bcf0);">
        <div class="container">
            <h2 class="lg-heading text-black about-heading">About Us</h2>
            <p class="text-grey">At Writing Desk, we're passionate about technology, fashion, food, etc. Our mission is to provide valuable insights, tips, and inspiration to our readers, helping them navigate the ever-changing landscape of [topic or niche].

                With a team of dedicated writers who are experts in their respective fields, we strive to deliver high-quality content that educates, entertains, and empowers our audience. Whether you're a seasoned enthusiast or just starting to explore [topic or niche], we've got something for everyone.
                
                Join us on this journey as we delve into the latest trends, share insightful perspectives, and foster a community of like-minded individuals who share our passion for [topic or niche]. Together, let's explore, learn, and grow!</p>

            <div class="about-wrapper">
                <div class="left">
                    <ul>
                        <li>Passionate creators delivering engaging content.</li>
                        <li>Experts in our field, sharing valuable insights.</li>
                        <li>Fostering community through shared interests.</li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>Curating knowledge for curious minds.</li>
                        <li>Inspiring exploration and discovery.</li>
                        <li>Empowering readers to thrive and grow.</li>
                    </ul>
                </div>
            </div>

            <div class="counts">
                <div class="count-item count-item1">
                    <span class="text-red">1000+</span>
                    <p>Articles published</p>
                </div>
                <div class="count-item count-item2">
                    <span class="text-red">5000+</span>
                    <p>Readers engaged</p>
                </div>
                <div class="count-item count-item3">
                    <span class="text-red">500+</span>
                    <p>Blog posts shared</p>
                </div>
                <div class="count-item count-item4">
                    <span class="text-red">500+</span>
                    <p>Followers gained</p>
                </div>
            </div>
            
            
            <div class="cta-banner">
                <div class="cta-banner-left">
                    <p class="cta-line">What are you looking for,reach us right now</p>
                </div>
                <div class="cta-banner-right">
                    <a  class="btn-cta">Contact Us</a>
                </div>
            </div>    



        </div>

        
        
    </section>
