
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<header>
  <nav class="navbar">
    <div class="container">
      <a href="index.html" class="navbar-brand">Writing Desk</a>
      <div class="navbar-nav">
        <a routerLink="/">Home</a>
        <a routerLink="/user-dashboard"><i class="fas fa-user " style="font-size: 24px;"></i></a>
        <a routerLink="/login">Logout</a>
        
        
      </div>
    </div>
  </nav>
</header>

<div class="contact-form">
    <div class="user-card">
      <div class="user-info">
        <h2 class="username">{{fullName}}</h2>
        <p class="phone"><i class="fas fa-phone"></i> {{phNo}}</p>
        <p class="phone"><i class="fas fa-envelope"></i> {{email}}</p>
        <p class="city"><i class="fas fa-map-marker-alt"></i> {{city}}</p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Enter your name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" rows="5" placeholder="Enter your message" required ></textarea>
      </div>
      <button type="submit" routerLink="/dashboard" class="submit-btn">Submit</button>
    </form>
  </div>