<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- header -->
    <header>
      <nav class = "navbar">
        <div class = "container">
          <a routerLink="/" class = "navbar-brand">Writing Desk</a>
          
        </div>
      </nav>






<form class="form" (ngSubmit)="signup()" style="-webkit-box-shadow:0px 0px 19px 0px rgba(46,255,227,0.9);
-moz-box-shadow: 0px 0px 19px 0px rgba(46,255,227,0.9);
box-shadow: 0px 0px 19px 0px rgba(46,255,227,0.9); margin-top: 50px;">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
        
        <label>
            <input required="" name="fullname" placeholder="" type="text" class="input" [(ngModel)]="signupData.fullName" >
            <span>Fullname</span>
        </label>
     

    <label>
        <input required="" placeholder="" name="username" type="text" class="input" [(ngModel)]="signupData.username" >
        <span>Username</span>
    </label> 
            
    <label>
        <input required="" placeholder="" name="email" type="email" class="input" [(ngModel)]="signupData.email" >
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" name="password" type="password" class="input" [(ngModel)]="signupData.password" >
        <span>Password</span>
    </label>
    
    <label>
        <input required="" placeholder="" name="city" type="text" class="input" [(ngModel)]="signupData.city" >
        <span>City</span>
    </label> 
    <label>
        <input required="" placeholder="" name="phNo" type="text" class="input" [(ngModel)]="signupData.phNo" >
        <span>Phone Number</span>
    </label> 
    <label>
        <input required="" placeholder="" name="age" type="number" class="input" [(ngModel)]="signupData.age" >
        <span>Age</span>
    </label> 
    <button class="submit" type="submit" >Submit</button>
    <p class="signin">Already have an acount ? <a routerLink="/login">Login</a> </p>
</form>




