<form class="form" style="">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
        <div class="flex">
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Firstname</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Lastname</span>
        </label>
    </div>  

    <label>
        <input required="" placeholder="" type="text" class="input">
        <span>Username</span>
    </label> 
            
    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Password</span>
    </label>
    <!-- <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Confirm password</span>
    </label> -->
    <label>
        <input required="" placeholder="" type="text" class="input">
        <span>City</span>
    </label> 
    <label>
        <input required="" placeholder="" type="text" class="input">
        <span>Phone Number</span>
    </label> 
    <label>
        <input required="" placeholder="" type="number" class="input">
        <span>Age</span>
    </label> 
    <button class="submit">Submit</button>
    <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
</form>