<header>
    <nav class = "navbar">
      <div class = "container">
        <a href = "index.html" class = "navbar-brand">Writing Desk</a>
        <div class = "navbar-nav">
          <a href = "">home</a>
          <a href = "">about</a>
          <a href = "">blog</a>
          <div class="user-profile">
            <a href="#"><i class="fas fa-user"></i></a>
          </div>
        </div>
      </div>
    </nav>
    



<div class="form-container" style="margin-top: 50px; margin-left: 240px;">
    <div class="form">
        <span class="heading">Add Post</span>
        <input placeholder="Blog Title" id="mail" type="email" class="input">
        <input placeholder="Blog Date" id="mail" type="date" class="input">
        <textarea placeholder="Blog Description" rows="10" cols="30" id="message" name="message" class="textarea"></textarea>
        <div class="button-container">
        <div class="send-button">Add</div>
    </div>
</div>
</div>