<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<main style="background-image: linear-gradient(to right top, #1fe3db, #3fd8d6, #54ced0, #63c3c8, #70b8bf, #74b5c1, #78b3c2, #7db0c2, #81b4cf, #89b8db, #95bae7, #a5bcf0); height: 120vh;">
<header>
  <nav class="navbar">
    <div class="container">
      <a href="index.html" class="navbar-brand">Writing Desk</a>
      <div class="navbar-nav">
        <a routerLink="/user-dashboard">Go back</a>
        
        <a routerLink="/user-dashboard"><i class="fas fa-user " style="font-size: 24px;"></i></a>
      </div>
    </div>
  </nav>
</header>
    



<form class="form-container" style="margin-top: 50px; margin-left: 240px; " (ngSubmit)="putPost()" >
    <div class="form">
        <span class="heading">Add Post</span>
        <input placeholder="Blog Title" id="blogTitle" name="blogTitle" type="text" class="input" [(ngModel)]="post.blogTitle">
        <input placeholder="Blog Date" id="blogDate" name="blogDate" type="date" class="input" [(ngModel)]="post.blogDate">
        <textarea placeholder="Blog Description" id="blogDate" name="blogDate" rows="10" cols="30" id="message" name="message" class="textarea" [(ngModel)]="post.blogDescription"></textarea>
        <div class="button-container">
        <button type="submit" class="send-button">Add</button>
    </div>
</div>
</form>
</main>